/* css styles */

/* Enlarge navbar logo */
.navbar-brand img, .quarto-navbar-logo {
	height: 60px !important;
	max-height: 60px !important;
}

/* Enlarge navbar title text */
.navbar-brand, .quarto-navbar-title {
	font-size: 2rem !important;
	font-weight: 700;
}
